@font-face {
    font-family: 'Refrigerator Deluxe';
    src: url(/src/assets/fonts/RefrigeratorDeluxe.otf);
}

@font-face {
    font-family: 'Refrigerator Deluxe Bold';
    src: url(/src/assets/fonts/RefrigeratorDeluxeBold.otf);
}

@font-face {
    font-family: 'Refrigerator Deluxe Extra Bold';
    src: url(/src/assets/fonts/RefrigeratorDeluxeExtrabold.otf);
}

@font-face {
    font-family: 'Refrigerator Deluxe Heavy';
    src: url(/src/assets/fonts/RefrigeratorDeluxeHeavy.otf);
}

@font-face {
    font-family: 'Refrigerator Deluxe Light';
    src: url(/src/assets/fonts/RefrigeratorDeluxeLight.otf);
}